<div class="container justify-content-center" *ngIf="recipeForm">
  <h1>Update Recipe</h1>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label fw-bold" for="title">Title</label><br />
      <input
        class="form-control"
        type="text"
        id="rtitle"
        name="rtitle"
        formControlName="title"
      /><br />
    </div>
    <div class="mb-3">
      <label class="form-label fw-bold" for="description">Description</label
      ><br />
      <input
        class="form-control"
        type="text"
        id="rdescription"
        name="rdescription"
        formControlName="description"
      /><br />
    </div>
    <div class="mb-3">
      <label for="ingredients" class="fw-bold">Ingredients</label><br />
      <input
        class="form-control"
        type="text"
        id="ingredients"
        name="ingredients"
        formControlName="ingredients"
        required
      /><br />
    </div>
    <div class="mb-3">
      <label for="method" class="fw-bold">Method</label><br />
      <input
        class="form-control"
        type="text"
        id="method"
        name="method"
        formControlName="method"
        required
      /><br />
    </div>

    <button type="submit" class="btn btn-primary" id="save">Save</button>
    <button class="btn btn-danger m-3" id="delete" (click)="deleteRecipe()">
      Delete
    </button>
  </form>
</div>

<ng-template #noRecipe>
  <p>Recipe not found!</p>
</ng-template>
